# Notebook 1

# Data reading and cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_orig=pd.read_csv("../data/GlobalTemperatures.csv")
df=df_orig.copy()

In [3]:
df["year"]=df["dt"].map(lambda x:int(x[0:4])) # Using slicing we take the year from the "dt" column
df=df.reindex(['dt','year', 'LandAverageTemperature', 'LandAverageTemperatureUncertainty',
       'LandMaxTemperature', 'LandMaxTemperatureUncertainty',
       'LandMinTemperature', 'LandMinTemperatureUncertainty',
       'LandAndOceanAverageTemperature',
       'LandAndOceanAverageTemperatureUncertainty'],axis=1)

Overview:

In [4]:
df.head()

,dt,year,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,1750,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,1750,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,1750,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,1750,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,1750,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

## Data Analysis

Creating a Series object with an average land temp per year:

In [5]:
ser_land_average_temp=pd.Series()
for i in df["year"].unique():
    v=df[df["year"]==i].iloc[:,2].mean()
    ser_land_average_temp[i]=v
    
ser_land_average_temp

1750    8.719364
1751    7.976143
1752    5.779833
1753    8.388083
1754    8.469333
          ...
2011    9.516000
2012    9.507333
2013    9.606500
2014    9.570667
2015    9.831000
Length: 266, dtype: float64

Comparing the last 50 years against the first 50 years measured:

In [12]:
ser_land_average_temp.iloc[-51:-1].mean()-ser_land_average_temp.iloc[:50].mean()

0.8828598701298702

**Insight:** Average land temp has raised 0.88Â°